.box{
  width: 500px;
  justify-content: center;
}

.fo{
  border-color: blue;
  padding: auto;
  margin: 10px 10px 10px 10px;
  
  
}


*{
  background-color: blanchedalmond;
}

.but{
  background-color: brown;
  border-radius: 7px;
  margin: 10px 10px 10px 10px;
}

.headingca{
  color: rgb(226, 224, 224);
  background-color: brown;
  cursor: pointer;
  align-items: center;
}


.ca{
  width: 700px;
  border-radius:10px;
  background-color: brown;
  margin-left: 300px;
  margin-top: 50px;
}


.bi{
  align-items: center;
  margin-left: 900px;
  margin-top: 200px;
}